<div class="modal-header">
  <h4 class="modal-title">Asignar Jefe</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <div >
    <div class="col-6">
    <label>Filtrar</label>
      <input [(ngModel)]="searchText" type="text" class="form-control">
    </div>
  </div>
  <div class="table-container">
    <table class="table-striped">
      <thead>
        <tr>
          <th scope="col">Identificacion</th>
          <th scope="col">Primer Nombre</th>
          <th scope="col">Primer Apellido</th>
          <th scope="col">Cargo</th>
          <th scope="col">Elegir</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let docente of docentes | filtroDocente:searchText;">
          <td>{{docente.identificacion}}</td>
          <td>{{docente.primerNombre}}</td>
          <td>{{docente.primerApellido}}</td>
          <td>{{docente.cargo}}</td>

          <td><button class="icono" (click)="add(docente.identificacion)"><span><i class="fas fa-user-plus"></i></span></button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-danger mb-1 mr-1" (click)="activeModal.close('Close click')">Cerrar</button>
</div>
