<div class="modal-header">
  <h4 class="modal-title">Asignar Calificadores</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <div>
    <h1>Datos Personales</h1><br>
  </div>
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label class="y">Identificacion:</label>
      <input readonly class="form-control" type="text" placeholder="{{docente.identificacion}}">
    </div>
    <div class="col-md-4 mb-3">
      <label class="y">Primer Nombre:</label>
      <input readonly class="form-control" type="text" placeholder="{{docente.primerNombre}}">
    </div>
    <div class="col-md-4 mb-3">
      <label class="y">Primer Apellido:</label>
      <input readonly class="form-control" type="text" placeholder="{{docente.primerApellido}}">
    </div>
  </div>

  <div calss="form-row">
    <div>
        <button class="form-control" (click)="open(docente)"><span><i class="fas fa-user-plus"></i></span>JEFE CALIFICADOR:</button>
      <div *ngFor="let calificacion of calificaciones">
        <input readonly *ngIf="calificacion.tipo_Calificador==='JEFE'" class="form-control" type="text"
          [(ngModel)]="calificacion.id_Calificador">
      </div>
      
    </div>
    <div>
        <button class="form-control"><span><i class="fas fa-user-plus"></i></span>PAR CALIFICADOR:</button>
      <div *ngFor="let calificacion of calificaciones">
        <input readonly *ngIf="calificacion.tipo_Calificador==='PAR'" class="form-control" type="text"
          [(ngModel)]="calificacion.id_Calificador">
      </div>
      
    </div>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-danger mb-1 mr-1" (click)="activeModal.close('Close click')">Cerrar</button>
</div>
