<div class="modal-header">
  <h4 class="modal-title">Asignar Calificadores</h4>
</div>

<div class="modal-body">
  <div>
    <h1>Datos Personales</h1><br>
  </div>
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label class="y">Identificacion:</label>
      <input readonly class="form-control" type="text" placeholder="{{docente.identificacion}}">
    </div>
    <div class="col-md-4 mb-3">
      <label class="y">Primer Nombre:</label>
      <input readonly class="form-control" type="text" placeholder="{{docente.primerNombre}}">
    </div>
    <div class="col-md-4 mb-3">
      <label class="y">Primer Apellido:</label>
      <input readonly class="form-control" type="text" placeholder="{{docente.primerApellido}}">
    </div>
  </div>


  <div class="form-row">
    <div class="col-md-6 mb-2">
      <div class="form-row">
        <button (click)="open(docente)"><span><i class="fas fa-user-plus"></i></span></button>
        <label class="y">JEFE CALIFICADOR:</label>
      </div>
      <div class="col-md-10 mb-2" *ngFor="let calificacion of calificaciones">
        <input readonly *ngIf="calificacion.tipo_Calificador==='JEFE'" class="form-control" type="text"
          [(ngModel)]="calificacion.id_Calificador">
      </div>
    </div>
    <div class="col-md-6 mb-2">
      <div class="form-row">
        <button (click)="open2(docente)"><span><i class="fas fa-user-plus"></i></span></button>
        <label class="y">PAR CALIFICADOR:</label>
      </div>
      <div class="col-md-10 mb-2" *ngFor="let calificacion of calificaciones">
        <input readonly *ngIf="calificacion.tipo_Calificador==='PAR'" class="form-control" type="text"
          [(ngModel)]="calificacion.id_Calificador">
      </div>
    </div>
  </div>

</div>
